### @see https://github.com/mkdocs/mkdocs/wiki
## --------------
## Themes
## --------------
# Material for MkDocs
mkdocs-material
# MkDocs Bootswatch Themes
mkdocs-bootswatch

## --------------
# Plugins
## --------------
## [MkDocs Tooltips](https://roipoussiere.frama.io/mkdocs-tooltips/)
mkdocs-tooltips
## [mkdocs-categories-plugin](https://github.com/eddyluten/mkdocs-categories-plugin)
mkdocs-categories-plugin
## [mkdocs-alias-plugin](https://github.com/EddyLuten/mkdocs-alias-plugin)
mkdocs-alias-plugin
## [mkdocs-graphviz](https://gitlab.com/rodrigo.schwencke/mkdocs-graphviz]
mkdocs-graphviz
## [PlantUML Extension for Python-Markdown](https://github.com/mikitex70/plantuml-markdown]
plantuml-markdown
