### @see https://github.com/mkdocs/mkdocs/wiki
## --------------
## Themes
## --------------
# Material for MkDocs
mkdocs-material

## --------------
# Plugins
## --------------
## [MkDocs Tooltips](https://roipoussiere.frama.io/mkdocs-tooltips/)
mkdocs-tooltips
## [mkdocs-alias-plugin](https://github.com/EddyLuten/mkdocs-alias-plugin)
mkdocs-graphviz
## [PlantUML Extension for Python-Markdown](https://github.com/mikitex70/plantuml-markdown]
plantuml-markdown
## [mkdocs-table-reader-plugin](https://github.com/timvink/mkdocs-table-reader-plugin]
mkdocs-table-reader-plugin
