## --------------
## Themes
## --------------
# Material for MkDocs
mkdocs-material
# ReadTheDocs Dropdown for MkDocs
mkdocs-rtd-dropdown
# Windmill theme for MkDocs
mkdocs-windmill

## --------------
# Plugins
## --------------
mkdocs-with-pdf
