### @see https://github.com/mkdocs/mkdocs/wiki
## --------------
## Themes
## --------------
# Material for MkDocs
mkdocs-material
# MkDocs Bootswatch Themes
mkdocs-bootswatch

## --------------
# Plugins
## --------------
## [MkDocs Tooltips](https://roipoussiere.frama.io/mkdocs-tooltips/)
mkdocs-tooltips
